*{
	box-sizing: border-box;
}
.row{
	margin-top: 30px;
}
h1{
	text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
h2{
	text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.error{
	color: red;
	font-weight: bold;
}