*{
	box-sizing: border-box;
}
.carousel-inner>.item>img{
	height: 364px;
}
@media (max-width: 768px){
	.logo{
		    width: 100%;
	}
	.form-inline{
		padding: 0 20px;
	}
	.col-md-offset-5{
		padding-left: 20px;
	}
	.carousel-inner>.item>img{
		height: 180px;
	}
}
.logo{
	height: 100px;
}
.container-fluid {
    background-color: #F7EE89;;
}
.form-inline{
	padding-top: 20px;
}
.col-md-offset-5{
	padding-top: 10px;
}
a, .col-md-offset-5 a{
	color: #9e9696;
}
.btn-primary{
	background-color: #008BDE;
	color: #7999;
	font-weight: 700;
	border: none;
}
.container{
	width: 80%;
}
.sub{
	width: 100px;
}
/*.carousel-inner > .item{
	height: 300px;
}*/
.para1{
	padding-bottom: 20px;
	text-align: center;

}
span{
	color: white;
	font-weight: bold;
}
#love{
	color: #F7EE89;
	text-align: center;
	font-style: italic;
	font-family: initial;
	text-align: center;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #f0cf71;
}
#buttton{
	    margin-right: 30px;
}
