<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/glyphicons-halflings-regular.woff">
	<link rel="stylesheet" type="text/css" href="fonts/glyphicons-halflings-regular.ttf">
	<link rel="stylesheet" type="text/css" href="css/navfix.css">
	<link rel="stylesheet" type="text/css" href="css/dongthoigian.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
   
    
    
    	<nav class="navbar navbar-fixed-top">
		  
		  	<div class="container-fluid">
		    	
		    <div class="container ">
		    	
					    <ul class="nav navbar-nav">
					     
					     		<li class="hidden-xs"><a href="#"><img src="img/icon.png" height="25px" alt=""></a></li>
					     	
					     	
					     		<li>
										<ul>
					     				<input type="text" class="form-control search pad" placeholder="Tìm Kiếm" ng-model="ten">
											<li ng-repeat="item in names|filter:ten">{{item}}</li>
										</ul>
					     		</li>
					     	
						      
						    
						     	<li ><a href="#" class="icon2" style="padding-bottom: 20px;">
				  				<span class="glyphicon glyphicon-search pad" aria-hidden="true"></span></a>
				  			  </li>
						     
						      
					    
					    
					     
					    </ul>
				    


				    
					    <ul class="nav navbar-nav navbar-right">
					     	<li class="hidden-xs" class="active" ><a href="#"><img src="img/avata.jpg" width="25px" alt=""> Nhi</a></li>
					    	<li class="hidden-xs" ><a href="#"  style="padding-bottom: 20px;">Trang Chủ</a></li>
					      <li class="hidden-xs" ><a href="#" class="icon2" style="padding-bottom: 20px;">
			  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			  			  </li>
					      <li  class="hidden-xs"><a href="#" class="icon2" style="padding-bottom: 20px;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></li>
					      <li class="hidden-xs"><a href="#" class="icon2" style="padding-bottom: 20px;"><span class=" glyphicon glyphicon-globe" aria-hidden="true"></a></li>
					      <li class="hidden-xs"><a href="#" class="icon2" style="padding-bottom: 20px;"><span class=" glyphicon glyphicon-wrench" aria-hidden="true"></a></li>
					      <li class="hidden-xs"><a href="#" class="icon2" style="padding-bottom: 20px;"><span class=" glyphicon glyphicon-log-out" aria-hidden="true"></a></li>
					    </ul>
				   
			   
			    

		    </div>
		    </div>
		    
		  
		</nav>
		
    
	
		 <nav class="navbar navbar-fixed-bottom">
		  <div class="container-fluid">
		    <div class="container container2">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Trang Chủ</a></li>
		    
		      <li><a href="#" class="col-xs-2">
  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
  			  </li>
		      <li><a href="#" class="col-xs-2"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></li>
		      <li><a href="#" class="col-xs-2"><span class=" glyphicon glyphicon-globe" aria-hidden="true"></a></li>
		      <li><a href="#" class="col-xs-2"><span class=" glyphicon glyphicon-wrench" aria-hidden="true"></a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">Thắc mắc: <img src="img/hoicham2.png" alt=""> </a></li>
		      <li><a href="#">Hỗ trợ: <span>01637535835</span></a></li>
		      
		    </ul>
		    

		    </div>
		    
		  </div>
		</nav>
	
	
	<section>
		
		<div class="container ">
			<div class="row">
				<div class="col-md-10 col-xs-12 col-sm-12">
					<div >
						<img id="banner" src="img/banner.jpg" alt="">
					</div>

					<div >
						<img id="avata" src="img/avata.jpg" width="150px" alt="">
					</div>
				</div>

				<div class="col-md-2 hidden-xs hidden-sm">
					<p class="paragraph"> Bạn bè đang Online</p>
				</div>
			</div><!--row-->

			<div class="row">
				<div class="col-md-10">
					<div class="navbar navbar-default">
						<div class="header">
							<div class="col-md-3 col-xs-6 col-sm-3">
								<a id="banner1" class="navbar-brand" href="#">Dòng thời gian</a>
							</div>
							<div class="col-md-3 col-xs-6 col-sm-3">
								<a id="banner2" class="navbar-brand" href="gioithieu.html">Giới thiệu</a>
							</div>
							<div class="col-md-3 col-xs-6 col-sm-3">
								<a id="banner3" class="navbar-brand" href="banbe.html">Bạn bè</a>
							</div>
							<div class="col-md-3 col-xs-6 col-sm-3">
								<a id="banner4" class="navbar-brand" href="anh.html">Ảnh</a>
							</div>
						</div>
					</div>
				</div>
			</div><!--row-->
			<div class="row">
				<div class="col-md-10">
					<div class="col-md-6 col-xs-12 col-sm-12">
						<div class="thumbnail">
							<div class="caption">
								<h3>Ảnh nổi bật</h3>
							</div>
							<img src="img/anhnoibat.jpg"/>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#">Trạng thái</a></li>
							<li><a href="#">Ảnh/Video</a></li>
							<li><a href="#">Sự kiện trong đời</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active">
									<input type="text" class="form-control" placeholder="Bạn nghĩ thế nào?" onkeydown="capnhat(event, this)" autofocus>
							</div>
							<span id="status"></span>
						</div>
					</div>
				</div>
			</div>
		</div><!--container-->	
		
	</section>

	<div class="modal fade" id="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Bạn chắc chắn muốn xóa status này?</h3>
				</div>
				<div class="modal-body">
					<p class="p2">Đây là 1 status rất quan trọng đối với bạn, hãy lưu ý!!!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="accept">Xác nhận</button>
					<button type="button" class="btn btn-default" id="cancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script src="js/angular.min.js"></script>
	<script>
		var app=angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
			$scope.names=["Emil","Carol","Thomas","Edison","Clinton"];
		});
	</script>
</body>
</html>
